<div ng-controller='FriendsController'>
	<h3>Steam ID</h3>
	<span>Games!{{games}}</span>


	<form class='input-control text'>
		<input class='text' type='text' name'user' ng-model='clientSteamId'>
		<input type='submit' value='Submit' ng-click='findUser(clientSteamId)'>
		<input type='submit' value='Colin' ng-click='findUser("76561197972867333")'>
		<input type='submit' value='Find Games' ng-click='findGames()'>
	</form>	
	<ul ng-repeat='friend in friends'>
		<a href = '/#/' ng-click='toggleFriend(friend.steamid)' toggle-class="active">
			{{friend.steamid}}
		</a><br>
	</ul>
</div>

